@model IEnumerable<Asp.netWebDatVe.Models.Loaixe>

@{
    ViewData["Title"] = "Danh sách loại xe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách loại xe</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Thêm loại xe mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Mã loại</th>
            <th>Tên loại xe</th>
            <th>Số ghế</th>
            <th>Tác vụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdLoai</td>
                <td>@item.Tenloai</td>
                <td>@item.Soghe</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdLoai" class="btn btn-warning">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.IdLoai" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
