@model Asp.netWebDatVe.Models.VeXe

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xóa vé</h1>

<h3>Bạn có muốn xóa vé này?</h3>
<div>
    <h4>VeXe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenVe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenVe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenKh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenKh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdVitriNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdVitriNavigation.IdVitri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaChuyenNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaChuyenNavigation.MaChuyen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhieuNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaPhieuNavigation.MaPhieu)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MaVe" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về</a>
    </form>
</div>
