@model Asp.netWebDatVe.Models.NguoiDung
@{
    ViewData["Title"] = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/css/Profile.css" />

<style>
 
</style>

<div class="container my-5">
    <h2>Thông Tin Cá Nhân</h2>
    <div class="row">
        <div class="col-md-4 text-center">
            @if (!string.IsNullOrEmpty(Model.HinhAnh))
            {
                <div>
                    <img src="@Url.Content(Model.HinhAnh)" alt="Image of @Model.HoTen" style="width: 290px; height:200px;" />
                </div>
            }
            else
            {
                <p>Không có hình ảnh.</p>
            }
        </div>
        <div class="col-md-8">
            <table class="table table-borderless">
                <tr>
                    <th>Họ và tên:</th>
                    <td>@Model.HoTen</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Số điện thoại:</th>
                    <td>@Model.Sdt</td>
                </tr>
                <tr>
                    <th>Ngày sinh:</th>
                    <td>@Model.NgaySinh?.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <th>Địa chỉ:</th>
                    <td>@Model.DiaChi</td>
                </tr>
            </table>

            <a asp-action="EditProfile" asp-route-id="@Model.Id" class="btn btn-warning">Sửa</a>
        </div>
    </div>
</div>
